<!doctype html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>SPV 2017 8<sup>th</sup> Grade Grad Party Survey</h1>
      </div>
      <p>Greetings 8<sup>th</sup>Grade Parents,</p>
      <p>
        Where did the time go!!!?  It seems like it was just yesterday that we
        were bringing our children to their kindergarten class, meeting each
        other for the first time and hanging around the classroom far longer
        than we should.  Some students were crying, some were running around
        100 miles an hour and others seemed lost.
      </p>
      <p>
        Now, here we are, their last year in Pius, as the upper classmen and
        the older, resposible children leading the rest of the Pius students,
        parents wishing that their 8<sup>th</sup> graders don't get too old too
        fast in high school.
      </p>
      <p>
        By the time you know it, it's graduation time and that's the reason
        why we wanted to start early for the graduation party.
      </p>
      <p>
        Looking at the SPV calendar for this coming school year, the actual
        graduation ceremony is on May 26, 2017 at 10:00am.  This happens to be
        Memorial Day weekend which means we need to start looking for event
        venues and reserving it early.
      </p>
      <p>
        In order to get a feel of what the parents' expectations are, some
        parents have started discussing what we need to have a successful
        Grad Party.  One of the first steps is to get some information from the
        parents.  We are sending this online survey.  Please respod as soon as
        you can.  Everyone's input is important.  Our decisions will be based
        on majority votes.
      </p>
      <p>
        When completing the survey, please keep in mind that this Grad Party is
        for the graduates, and we want to make sure they enjoy and remember
        this special time.
      </p>
      <p>
        Thank you,<br>Bernadette Baclig<br>(Excited 8<sup>th</sup> Grade Parent
        - Samie's Mom)
      </p>
    </div>
    <div class="container">
      <form id="grad-survey">
        <p>Please note: All questions are for the Graduation Party.</p>
        <div class="form-group">
          <label>
            The graduation ceremony is on Friday May 26, 2017 @ 10am in
            SPV. What date/time do you want to have the (lunch or dinner)/dante
             party? (Select one)
          </label>
          <div class="radio">
            <label>
              <input id="q1-a" type="radio" name="q1-group" value="a">
              Lunch on Friday May 26, 2017 (after the ceremony around 1pm)
            </label>
          </div>
          <div class="radio">
            <label>
              <input id="q1-b" type="radio" name="q1-group" value="b">
              Dinner on Friday May 26, 2017
            </label>
          </div>
          <div class="radio">
            <label>
              <input id="q1-c" type="radio" name="q1-group" value="c">
              Dinner on Saturday May 27, 2017
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>How much are you willing to pay per person? (Select One)</label>
          <div class="radio">
            <label>
              <input id="q2-a" type="radio" name="q2-group" value="a">
              $15 - $25
            </label>
          </div>
          <div class="radio">
            <label>
              <input id="q2-b" type="radio" name="q2-group" value="b">
              $25 - $50
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Who would you like to bring/invite to the party? (Select one or more)</label>
          <div class="checkbox">
            <label>
              <input id="q3-a" type="checkbox" name="q3-group" value="a">
              Spouse
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input id="q3-b" type="checkbox" name="q3-group" value="b">
              8<sup>th</sup> Grader's sibling
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input id="q3-c" type="checkbox" name="q3-group" value="c">
              Grandparents
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input id="q3-d" type="checkbox" name="q3-group" value="d">
              Others
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>How many people are you inviting? (Select one)</label>
          <div class="radio">
            <label>
              <input id="q4-a" type="radio" name="q4-group" value="a">
              1 - 5 people
            </label>
          </div>
          <div class="radio">
            <label>
              <input id="q4-b" type="radio" name="q4-group" value="b">
              6 - 10 people
            </label>
          </div>
          <div class="radio">
            <label>
              <input id="q4-c" type="radio" name="q4-group" value="c">
              More than 10 people
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Are you willing to volunteer or donate? (Select one or more)</label>
          <div class="checkbox">
            <label>
              <input id="q5-a" type="checkbox" name="q5-group" value="a">
              Decorate
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input id="q5-b" type="checkbox" name="q5-group" value="b">
              DJ
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input id="q5-c" type="checkbox" name="q5-group" value="c">
              Photo Booth
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input id="q5-d" type="checkbox" name="q5-group" value="d">
              <input type="text" id="q5-other-text" placeholder="Other">
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Do you have a recommendation for the venue?</label>
          <input type="text" id="q6-venue" class="form-control" placeholder="Venue Name">
          <br>
          <input type="text" id="q6-address" class="form-control" placeholder= "Venue Address/Website">
        </div>
        <div class="form-group">
          <label>
            Would you like to be part of the Graduation Party Committee?
          </label>
          <div class="radio">
            <label>
              <input id="q7-a" type="radio" name="q7-group" value="a">
              Yes
              <input type="text" id="q7-name" placeholder="Name">
              <input type="text" id="q7-email" placeholder="Email Address">
            </label>
          </div>
          <div class="radio">
            <label>
              <input id="q7-b" type="radio" name="q7-group" value="b">
              No
            </label>
          </div>
        </div>
        <button id="survey-submit"
        type="button"
        class="btn btn-primary btn-lg"
        data-toggle="modal"
        data-target="#thank-you-modal">
          Submit
        </button>
        <div class="modal fade" id="thank-you-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button"
                class="close"
                data-dismiss="modal"
                arial-lable="Close">
                  <span aria-hiddnen="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  Thank you for participating in this survey.
                </h4>
              </div>
              <div class="modal-body">
                <p>
                  We look forward to celebrating this special occassion with you
                  and your family!
                </p>
              </div>
              <div class="modal-footer">
                <button
                class="btn btn-default"
                type="button"
                data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="/js/form.js"></script>
  </body>

</html>
