<!doctype html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>SPV 2017 8<sup>th</sup>Grade Grad Party Survey</h1>
      </div>
      <p>Greetings 8<sup>th</sup>Grade Parents,</p>
      <p>Where did the time go!!!?  It seems like it was just yesterday that we were bringing our children to their kindergarten class, meeting each other for the first time and hanging around the classroom far longer than we should.  Some students were crying, some were running around 100 miles an hour and others seemed lost.</p>
      <p>Now, here we are, their last year in Pius, as the upper classmen and the older, resposible children leading the rest of the Pius students, parents wishing that their 8<sup>th</sup> graders don't get too old too fast in high school.</p>
      <p>By the time you know it, it's graduation time and that's the reason why we wanted to start early for the graduation party.</p>
      <p>Looking at the SPV calendar for this coming school year, the actual graduation ceremony is on May 26, 2017 at 10:00am.  This happens to be Memorial Day weekend which means we need to start looking for event venues and reserving it early.</p>
      <p>In order to get a feel of what the parents' expectations are, some parents have started discussing what we need to have a successful Grad Party.  One of the first steps is to get some information from the parents.  We are sending this online survey.  Please respod as soon as you can.  Everyone's input is important.  Our decisions will be based on majority votes.</p>
      <p>Thank you,<br>Bernadette Baclig<br>(Excited 8<sup>th</sup> Grade Parent - Samie's Mom)</p>
    </div>
  </body>

</html>
