<!doctype html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Survery Results</h1>
      </div>
      <ul>
        <% results.forEach(function(r){ %>
          <li><%= r.a %> - <%= r.b %> - <%= r.c %></li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
